body{
<<<<<<< HEAD
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin-top: 50px;
}
.container{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
=======
    color: blue;
<<<<<<< HEAD
>>>>>>> sophie
=======
>>>>>>> 4ff34f0d96f3c66c106a7388a74c7f83280b5c08
>>>>>>> 3f917a6d4a3c2d3037c8e63c5da885d966ba31f2
}